footer{
    background-color: #782221;
    color: white;
    height: 100px;
    text-align: center;
    padding-top: 20px;
}
img{
    height: 16px;
    width:16px;
}
.fa-linkedin{
    background-color: white;
    color: #0e76a8;
}
.fa-twitter{
    background-color:#00acee;
    color:white;
}
.fa-square-github{
    background-color: white;
    color:#782221;
}
footer div:hover{
    opacity: 0.8;
}
